pkgbase = python-nodeenv
	pkgdesc = Node.js virtual environment builder
	pkgver = 1.8.0
	pkgrel = 1
	url = https://github.com/ekalinin/nodeenv
	arch = any
	license = BSD
	checkdepends = nodejs
	checkdepends = python-pytest-runner
	checkdepends = python-coverage
	depends = python-setuptools
	depends = make
	optdepends = nodejs: for --node=system
	source = python-nodeenv-1.8.0.tar.gz::https://github.com/ekalinin/nodeenv/archive/1.8.0.tar.gz
	sha512sums = 96dce219e00d3837b2b0083af9fe6d94ed4e3cd029e3da564263ad8656dcb9c52440c2df6a6954095e5cacd03e44437f08695603dea82c28122713045183014f

pkgname = python-nodeenv
